# Environment Variables Example

# Server configuration
PORT=5000
NODE_ENV=development

# Database Placeholder
MONGODB_URI=mongodb://localhost:27017/portfolio-cms

# JWT Secret Placeholder
JWT_SECRET=supersecretjwtkeyplaceholder
JWT_REFRESH_SECRET=supersecretrefreshkeyplaceholder

# Cloudinary Placeholder
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Services Placeholder
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
